/*---------------------------------------*/
/*Basic styles*/
/*---------------------------------------*/

body {
    margin-top: 50px;
    margin-left: 50px;
}

table {
    border: 1px solid black;
    width: 30%;
}

/*---------------------------------------*/
/*Specific table styles*/
/*---------------------------------------*/

table#asiakkaat,
table#asiakkaat th,
table#asiakkaat td {
    border: 1px solid rgb(205, 205, 247);
    border-collapse: collapse;
    font-family: Helvetica, Arial, sans-serif;
    padding: 5px;
}

table#asiakkaat tr:nth-child(even) {
    background-color: #d7ecea;
}
table#asiakkaat tr:nth-child(odd) {
    background-color: #f5f5e1;
}

table#asiakkaat th {
    background-color: #95afaa;
    font-size: 1.2em;
    color: #f5f5e1;
    padding: 10px 0;
}