/*---------------------------------------*/
/*BASIC SETUP*/
/*---------------------------------------*/
*{
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

html,
body {
    font-family: 'Lato', sans-serif;
    color: #555;
    font-size: 18px;
    font-weight: 400;
    text-rendering: optimizeLegibility;
}

/*---------------------------------------*/
/*REUSABLE COMPONENTS*/
/*---------------------------------------*/

header {
    text-align: center;
    text-transform: uppercase;
    background-color: #3c6382;
}

main { padding: 0 40px; }

footer {
    text-align: center;
    padding: 0 40px;
}

p {
    line-height: 138%;
    margin-bottom: 10px;
}

.my-list {
    margin-left: 40px;
}

/*------NAVIGATION------*/

nav {
    background-color: #60a3bc;
    padding: 20px 0;
}

.nav li {
    display: inline-block;
    list-style-type: none;
    margin-right: 20px;
    font-family: 'Lora', serif;
}

/*------HEADINGS------*/

h1, h2 {
    text-transform: uppercase;
    font-weight: 700;
    letter-spacing: 4px;
    font-family: 'Lora', serif;
    color: #fff;
}

h1 {
    font-size: 250%;
    padding: 60px 0;
}

h2 {
    background-color: #60a3bc;
    margin: 40px 0;
    padding: 2px;
    border-radius: 3px;
    text-align: center;
    font-size: 160%;
}

/*------LINKS------*/

a:link,
a:visited {
    color: #0a3d62;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 2px solid transparent;
    -webkit-transition: border-bottom 0.2s;
    transition: border-bottom 0.2s;
}

a:hover,
a:active {
    border-bottom: 2px solid #dd9206;
    color: #dd9206;
}

/*------BUTTON------*/

.btn-full:link,
.btn-full:visited {
    display: inline-block;
    padding: 10px 30px;
    margin: 20px 0;
    text-decoration: none;
    border-radius: 200px;
    background-color: #60a3bc;
    border: 1px solid #60a3bc;
    color: #fff;
    -webkit-transition: background-color 0.2s, border 0.2s, color 0.2s;
    transition: background-color 0.2s, border 0.2s, color 0.2s;
}

.btn-full:hover,
.btn-full:active {
    border: 2px solid #dd9206;
    background-color: #dd9206;
}

/*---------------------------------------*/
/*MEDIA COMPONENTS*/
/*---------------------------------------*/

.media_container {
    text-align: center;
    padding-top: 20px;
}

.portfolio-img {
    display: block;
    margin: 40px auto;
    border-radius: 3px;
    width: 250px;
    height: auto;
}

.section-img {
    display: inline-block;
    margin-right: 10px;
    border-radius: 3px;
    width: 250px;
    height: 350px;
    transition: transform .3s;
}

.section-img:hover { transform: translateY(-5px) scale(1.03); }

video {
    border-radius: 3px;
    transition: transform .3s;
}

video:hover { transform: translateY(-5px) scale(1.03); }