*,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
    box-sizing: border-box;
    font-family: "Lato", sans-serif;
    font-weight: 400;
    line-height: 1.7;
    color: #777;
    padding: 3rem;
}

/* ----- Header -----*/

header {
  position: relative;
  height: 95vh;
  background-image: linear-gradient(155deg, rgba(0, 0, 0, 0.6) 50%, rgba(39, 60, 117, 0.6)), url(../img/hero.jpg);
  background-position: center;
  background-size: cover;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
          clip-path: polygon(0 0, 100% 0, 100% 80vh, 0 100%);
  background-attachment: fixed;
}

.header__text-box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

/* ----- Navigation -----*/

nav {
  text-align: center;
  padding: 1.5rem 0;
}

.navigation__item {
  display: inline-block;
  list-style-type: none;
  margin-right: 2rem;
}

.navigation__link:visited,
.navigation__link:link {
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  font-size: 2rem;
  padding-bottom: .5rem;
}

.navigation__link:hover,
.navigation__link:active {
  border-bottom: .2rem solid #e1b12c;
}

/*------------------------------*/
/* -----REUSABLE COMPONENTS-----*/
/*------------------------------*/

.clearfix {
  content: "";
  display: table;
  clear: both;
}

/* ----- HEADINGS -----*/

.heading-primary {
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 5rem;
}

.heading-primary--main {
  display: block;
  font-size: 7rem;
  font-weight: 400;
  letter-spacing: .3rem;
}

.heading-primary--sub {
  display: block;
  font-size: 3rem;
  font-weight: 700;
  letter-spacing: 1.9rem;
}

.heading-secondary {
  text-transform: uppercase;
  font-size: 3.5rem;
  font-weight: 700;
  letter-spacing: .2rem;
  text-align: center;
  margin: 1.5rem 0 8rem 0;
  background-image: linear-gradient(to right, #e1b12c, #facf57);
  -webkit-background-clip: text;
  color: transparent;
}

.heading-secondary--sub {
  display: block;
  font-size: 2.5rem;
  font-style: italic;
}

.heading-tertiary {
  text-transform: uppercase;
  font-size: 2rem;
  margin-bottom: 1.5rem;
}

.heading-tertiary--yellow {
  color: #e1b12c;
  margin-bottom: 2rem;
}

.card__heading {
  font-size: 2rem;
  text-transform: uppercase;
  margin-top: 1.5rem;
}

/* ----- PARAGRAPHS -----*/

.paragraph-text {
  font-size: 1.7rem;
  margin-bottom: 2rem;
}

/* ----- BUTTONS -----*/

.btn,
.btn:link,
.btn:visited {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: .1rem;
  border: none;
  border-radius: 10rem;
  cursor: pointer;
  transition: all .2s;
}

.btn:hover {
  background-color: #e1b12c;
  color: white;
  transform: translateY(4px);
  box-shadow: 0 1rem 2rem rgba(0, 0, 0, 0.4);
}

.btn--white {
  background-color: #fff;
  color: #e1b12c;
}

.btn--yellow {
  background-color: #e1b12c;
  color: #fff;
}

.btn--big {
  font-size: 2rem;
  padding: 1.5rem 4rem;
}

.btn--small {
  font-size: 1.5rem;
  padding: 1rem 2rem;
}

/*------------------------------*/
/* -----SECTIONS-----*/
/*------------------------------*/

/* ----- ABOUT -----*/

.section-about {
  background-color: #f7f7f7;
  padding-top: 25rem;
  padding-bottom: 15rem;
  margin-top: -20vh;
}

.avatar__photo {
  width: 60%;
  display: block;
  margin: 0 auto;
  border-radius: .4rem;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
  z-index: 10;
  transition: all .2s;
  outline-offset: 1.5rem;
}

.avatar__photo:hover {
  outline: .2rem solid #e1b12c;
  transform: scale(1.05) translateY(-0.5rem);
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.7);
  z-index: 20;
}

/* ----- SKILLS -----*/

.section-skills {
  background-image: linear-gradient(155deg, rgba(0, 0, 0, 0.6) 50%, rgba(39, 60, 117, 0.6)), url(../img/bg-skills.jpg);
  background-position: bottom;
  background-size: cover;
  background-attachment: fixed;
  padding-top: 10rem;
  padding-bottom: 15rem;
}

.card--small {
  background-color: #f7f7f7c9;
  padding: 2.5rem;
  text-align: center;
  transition: all .3s;
}

.card--small:hover {
  transform: translateY(-1.5rem) scale(1.03);
}

.card__icon {
  font-size: 5rem;
  margin-bottom: 2rem;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.6), rgba(39, 60, 117, 0.6));
  -webkit-background-clip: text;
  color: transparent;
}

.card__text {
  font-size: 1.6rem;
}

/* ----- EXPERIENCE -----*/

.section-experience {
  padding-top: 10rem;
  padding-bottom: 15rem;
  background-color: #f7f7f7;
}

.card--big {
  height: 55rem;
  text-align: center;
  box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.2);
  border-radius: .3rem;
}

.card__picture {
  background-size: cover;
  height: 20rem;
  background-blend-mode: screen;
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
  border-top-left-radius: .3rem;
  border-top-right-radius: .3rem;
}

.card__picture--1 {
  background-image: linear-gradient(to right bottom, #2f3640, #353b48), url(../img/card_1.jpg);
}

.card__picture--2 {
  background-image: linear-gradient(to right bottom, #192a56, #273c75), url(../img/card_2.jpg);
}

.card__picture--3 {
  background-image: linear-gradient(to right bottom, #192a56, #273c75), url(../img/card_3.jpg);
}

.card__details { padding: 2rem; }

.card__details ul {
  list-style: none;
  width: 85%;
  margin: 0 auto;
}

.card__details ul li {
  text-align: center;
  font-size: 1.5rem;
  padding: 1rem;
}

.card__details ul li:not(:last-child) {
  border-bottom: 1px solid rgb(212, 212, 212);
}

/* ----- PORTFOLIO -----*/

.section-portfolio {
  padding: 10rem 0;
}

/* ----- GALERY -----*/

.section-galery {
  padding: 0;
}

.galery__list {
  list-style: none;
  width: 100%;
}

.galery__list li {
  display:block;
  float: left;
  width: 25%;
}

.galery__photo {
  width: 100%;
  overflow: hidden;
  background-image: linear-gradient(to bottom right, rgb(0, 0, 0) 45%, rgb(39, 60, 117)); 
}

.galery__photo img {
  opacity: 0.5;
  width: 100%;
  height: auto;
  transform: scale(1.15);
  transition: transform 0.5s, opacity 0.5s;
}

.galery__photo img:hover {
  opacity: 1;
  transform: scale(1.03)
}

/* ----- HOBBY -----*/

.section-hobby {
  padding: 10rem 0;
  position: relative;
}

.bg-video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  opacity: .3;
  overflow: hidden;
}

.bg-video__content {
  height: 100%;
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.text-box {
  width: 100%;
  margin: 0 auto;
  background-color: #f7f7f7c9;
  padding: 2.5rem;
  border-radius: .3rem;
  transition: all .2s;
}

.text-box:hover {
  box-shadow: 0 2.5rem 4rem rgba(0, 0, 0, 0.5);  
}

.text-box__picture {
  display: block;
  width: 60%;
  margin-left: 30%;
  border-radius: 2rem;
}

/*--------------------------------*/
/*------------FOOTER--------------*/
/*--------------------------------*/

footer {
  background-image: linear-gradient(to bottom right, rgba(0, 0, 0, 0.85) 35%, rgba(39, 60, 117, 0.85));
  padding: 5rem 0;
  color: #fff;
  font-size: 1.6rem;
}

.footer__list {
  text-align: end;
}

.footer__item {
  display: inline-block;
  list-style-type: none;
  margin-right: 4rem;
}

.footer__link {
  text-decoration: none;
  font-size: 4rem;
  color: white;
}

.footer__link--1:hover,
.footer__link--text:hover {
  color: #e1b12c;
}

.footer__link--2:hover {
  color: #ea4335;
}

.footer__link--3:hover {
  color: #3b5998;
}

.footer__link--4:hover {
  color: #0077b5;
}

.footer__link--5:hover {
  color:#3f729b;
}

.footer__link--6:hover {
  color: #43d854;
}

.footer__link--text {
  text-decoration: none;
  color: #fff;
}


/*---------------------------*/
/*-----------POPUP-----------*/
/*---------------------------*/

.popup {
  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.8);
  z-index: 9999;
  opacity: 0;
  visibility: hidden;
  transition: all .3s;
}

.popup:target {
  opacity: 1;
  visibility: visible;
}

.popup:target .popup__content {
  opacity: 1;
  transform: translate(-50%, -50%) scale(1);
}
  
.popup__close:link, .popup__close:visited {
  color: #777;
  position: absolute;
  top: 2.5rem;
  right: 2.5rem;
  font-size: 3rem;
  text-decoration: none;
  display: inline-block;
  transition: all .2s;
  line-height: 1;
}
    
.popup__close:link:hover, .popup__close:visited:hover {
  color: #e1b12c;
}

.popup__content {
  width: 75%;
  background-color: #fff;
  box-shadow: 0 2rem 4rem rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.2);
  border-radius: .5rem;
  display: table;
  overflow: hidden;
  opacity: 0;
  transition: all .5s .2s;
}
  
.popup__left {
  width: 33.33333333%;
  display: table-cell;
}

.popup__right {
  width: 66.6666667%;
  display: table-cell;
  vertical-align: middle;
  padding: 3rem 5rem;
}

.popup__img {
  display: block;
  width: 100%;
}

.popup__text {
  font-size: 1.6rem;
  -moz-column-count: 2;
  -moz-column-gap: 4rem;
  -moz-column-rule: 1px solid rgb(207, 206, 206);
  column-count: 2;
  column-gap: 4rem;
  column-rule: 1px solid rgb(207, 206, 206);
  -ms-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}